{% extends "base.html" %}

{% block content %}
<div class="messages-container">
    
    <div class="messages-container">
    <a href="{{ url_for('dashboard') }}">
        <h4> Go to board</h4>
    </a>
    
    <div class="messages-card">
          <h3> Messages</h3>
        <div class="messages-sidebar">
            <div class="search-box">
                <i class="material-icons">search</i>
                <input type="text" placeholder="Search messages...">
            </div>
            
            <div class="conversation-list">
           
                <div class="conversation active">
                    <div class="avatar">
                        <i class="material-icons">account_circle</i>
                    </div>
                    <div class="conversation-details">
                        <h3>Support Team</h3>
                        <p>Thanks for your question! We'll get back to you soon.</p>
                        <span class="time">2 hours ago</span>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="messages-content">
            <div class="message-thread">
    
                <div class="message received">
                    <p>Hello! How can we help you today?</p>
                    <span class="time">2:30 PM</span>
                </div>
                
                <div class="message sent">
                    <p>I have a question about my account settings.</p>
                    <span class="time">2:35 PM</span>
                </div>
            </div>
            
            <div class="message-composer">
                <input type="text" placeholder="Type your message...">
                <button><i class="material-icons">send</i></button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
